@import 'src/@fuse/scss/fuse';

app-products {
  #products {
    .top-bg {
      @include media-breakpoint('lt-md') {
        height: 256px;
      }
    }

    > .center {
      > .header {
        .search-wrapper {
          width: 100%;
          max-width: 480px;
          border-radius: 28px;
          overflow: hidden;
          @include mat-elevation(1);

          @include media-breakpoint('xs') {
            width: 100%;
          }
        }

        @include media-breakpoint('lt-md') {
          padding: 8px 0;
          height: 192px !important;
          min-height: 192px !important;
          max-height: 192px !important;
        }
      }
    }
  }
  .expanded {
    font-size: 14px;
    padding-bottom: 5px;

    .title {
      color: rgba(0, 0, 0, 0.54);
      width: 65px;
      &:after {
        content: ':';
      }
    }

    .description {
      color: rgba(0, 0, 0, 0.87);
      padding-left: 6px;
    }
  }
}

app-fuse-table.products {
  height: 100%;
  ngx-datatable {
    .datatable-header,
    .datatable-header-inner {
      height: 64px !important;
    }
    .visible {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      datatable-body.datatable-body {
        flex: 1;
      }
    }
  }
}
