.game-wrapper {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;

  background-color: #f5f5f5;

  img {
    display: block;
    width: 350px;
    margin: 0 auto 25px;
  }
}
