<div id="forgot-password-form" [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }">
  <app-formly-form title="FORGOT_PASSWORD.TITLE" [fields]="fields" (submited)="onSubmit($event)">
    <div header class="logo">
      <img src="assets/images/logos/fuse.svg" />
    </div>
    <div footer class="sign-in" fxLayout="column" fxLayoutAlign="center center">
      <span class="text" translate="FORGOT_PASSWORD.SIGN_IN_PLACEHOLDER"></span>
      <a class="link" [routerLink]="SIGN_IN_LINK" translate="FORGOT_PASSWORD.SIGN_IN"></a>
    </div>
  </app-formly-form>
</div>
