.card-wrapper {
  .header-wrapper {
    background-color: #0277bd;
    color: white;
    padding: 15px 20px;
  }

  .body-wrapper {
    padding: 15px 20px;
  }

  .footer-wrapper {
    padding: 15px 20px;
  }
}
