<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-container [ngSwitch]="type">
  <ng-container [ngSwitch]="size" *ngSwitchCase="'h'">
    <h1 *ngSwitchCase="1" class="mat-h1">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h1>
    <h2 *ngSwitchCase="2" class="mat-h2">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h2>
    <h3 *ngSwitchCase="3" class="mat-h3">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h3>
    <h4 *ngSwitchCase="4" class="mat-h4">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h4>
  </ng-container>

  <ng-container *ngSwitchCase="'d'">
    <p [class]="'mat-display-' + size">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </p>
  </ng-container>

  <ng-container [ngSwitch]="size" *ngSwitchCase="'p'">
    <p *ngSwitchDefault [class]="'mat-body-' + size">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </p>
    <span *ngSwitchCase="3" class="mat-caption">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </span>
  </ng-container>
</ng-container>
