<ng-progress #progressBar></ng-progress>

<app-layout-1 (exitClicked)="onExit()" [navLinks]="navLinks">
  <div class="header" layout-header>
    <button mat-button [matMenuTriggerFor]="menu">
      {{ 'LANGUAGES.' + acitveLanguage | uppercase | translate }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let language of languages" (click)="onLanguageChange(language)">
        {{ 'LANGUAGES.' + language | uppercase | translate }}
      </button>
    </mat-menu>
  </div>
  <router-outlet layout-body></router-outlet>
</app-layout-1>
