ngx-datatable {
  max-height: 100%;
  &.ngx-datatable.scroll-vertical {
    height: 60vh;
    .datatable-body {
      display: block;
    }
    .datatable-row-detail {
      height: 150px !important;
    }
    datatable-pager {
      display: none;
    }
  }
  .visible {
    height: 100%;
  }

  mat-chip {
    display: flex;
    padding: 5px 7.5px;
    border-radius: 13px;
  }
  datatable-progress {
    width: 100%;
    position: fixed;
  }
}
