<ngx-datatable
  #myTable
  class="material"
  [rows]="rows"
  [columns]="columns"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="columnMode"
  [headerHeight]="headerHeight"
  [footerHeight]="footerHeight"
  [rowHeight]="rowHeight"
  [scrollbarH]="scrollbarH"
  [scrollbarV]="scrollbarV"
  [reorderable]="reorderable"
  [selectionType]="selectionType"
  [selected]="select"
  [limit]="limit"
  [externalPaging]="externalPaging"
  [externalSorting]="externalSorting"
  [count]="count"
  [offset]="offset"
  (activate)="onActivate($event)"
  (select)="onSelect($event)"
  (page)="onPage($event)"
  [selectAllRowsOnPage]="selectAllRowsOnPage"
  [displayCheck]="displayCheck"
>
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail [rowHeight]="150" #myDetailRow>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <ng-template [ngTemplateOutlet]="expandedRow" [ngTemplateOutletContext]="{ row: row }"></ng-template>
    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>
